[submodule "pelican-bootstrap3"]
	path = themes/pelican-bootstrap3
	url = https://github.com/DandyDev/pelican-bootstrap3.git
[submodule "plugins/pelican-plugins"]
	path = plugins/pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "plugins/rmarkdown"]
	path = plugins/rmarkdown
	url = git@github.com:ashander/rmarkdown.git
