{% extends "base.html" %}
{% block canonical_rel %}<link rel="canonical" href="{{ SITEURL }}">{% endblock %}
{% block content %}

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">

    <p>I focus on understanding the consequences of trait change due
      to evolutionary and plastic responses in changing enviornments.
      As a PhD Candidate at UC Davis, I'm working to develop theory on
      population dynamics resulting from these processes, and methods
      for connecting this theory to data. I like to think about
      applications, especially to salmon.</p>

    <p> My Master's research focused on the ecological and
      evolutionary dynamics of sea lice and salmonids
      with <a href="http://www.math.ualberta.ca/~mlewis/">Prof.  Mark
      Lewis</a>  at
      the <a href="http://www.math.ualberta.ca/~mathbio">Centre for
      Mathematical
      Biology</a>/<a href="http://www.math.ualberta.ca/">Department of
      Mathematical and Statistical Sciences</a> at
      <a href="http://www.ualberta.ca/">University of Alberta</a>.
</p>

  </div>
</div>

<div class="row">
  {% for category, articles in categories %}
     <div class="col-sm-4">
       <h2><a  href="/category/{{category.slug}}">{{category}}</a></h2>
       <div class="bigspacer"></div>
       <div>
       {% for article in articles[:5] %}
         <div>
           {% include 'includes/iconfeed.html' %}
          <a  href="{{ article.url }}">{{ article.title }}</a>
           {% if category == 'results' %} ({{article.date.year}}) <i>{{ article.journal }}</i> {% endif %}
         </div>

         {% if category == 'notes' %}
         <div >
           in {% for tag in article.tags %}
           <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
           {% if not loop.last %}
           /
           {% endif %}
           {% endfor %}
           on {{article.locale_date}}
         </div>
         {% endif %}

         <div class="spacer"></div>
         {% endfor %}
    </div>
  </div>
  {% endfor %}

</div>
   {% include 'includes/etc-footer.html' %}
{% endblock content %}
