{% extends "base.html" %}
{% block canonical_rel %}<link rel="canonical" href="{{ SITEURL }}">{% endblock %}
{% block banner %}
        {% include 'includes/rotate_banner_image.html' %}
        {% include 'includes/banner.html' %}
{% endblock %}
{% block content %}

<div class="row">
  <div class="col-sm-6">
    <div class="bs-component">
    <p>I focus on understanding the consequences of trait change due
      to evolutionary and plastic responses in changing enviornments.
     For some years, I have been developing theory on population dynamics resulting from these processes.
	    Most of this theoretical work is in collaboration with <a href="http://lmchevin.weebly.com/">Luis-Miguel Chevin</a> and
	    my PhD supervisor <a href="http://www.des.ucdavis.edu/faculty/baskett/">Marissa Baskett</a>
      during my PhD at UC Davis in <a href="http://www.eve.ucdavis.edu/eve/pbg/">Population Biology</a>.
      These interests also extend back to my my Master's research, which focused on the
      ecological and
      evolutionary dynamics of sea lice and salmonids
      with <a href="http://www.math.ualberta.ca/~mlewis/">Mark
      Lewis</a>  at
      the <a href="http://www.math.ualberta.ca/~mathbio">Centre for
      Mathematical
      Biology</a> at
      <a href="http://www.ualberta.ca/">University of Alberta</a>.
      For results from this work so far, see my
      <a sylehref="https://scholar.google.com/citations?user=TsBxHjcAAAAJ">google
	      scholar page</a> or peruse this site.
      </p>

     <p>I'm also very interested in methods for connecting theory to data.
	I am currently a Postdoctoral Scholar in <a
		href="https://www.eeb.ucla.edu/Faculty/Shaffer/">the Shaffer
		lab</a> at UCLA.
Working in collaboration with <a href="http://ralphlab.usc.edu/">Peter Ralph</a>
at University of Oregon, we are developing methods that use genomic data to inform
demographic models of the desert tortoise (<em>Gopherus agassizii</em>).
These models will enable us to analyze effects of scenarios for development in
the Mojave desert on the population viability of the tortoise.
      </p>
    </div>
  </div>
  {% for category, articles in categories %}
     {% if category == 'themes' %}
  <div class="col-sm-4">
    <h2 style="margin-top: 0px"><a  href="/category/{{category.slug}}">{{category}}</a></h2>
    <div>
      {% for article in articles[:5] %}
      <div>
           {% include 'includes/iconfeed.html' %}
           <a  href="{{ article.url }}">{{ article.title }}</a>
      </div>
      <div class="spacer"></div>
         {% endfor %}
    </div>
       {% endif %}
  {% endfor %}
  </div>
</div>
<div class="row">
  {% for category, articles in categories %}
      {% if category != 'themes' %}
     <div class="col-sm-6">
       <h2><a  href="/category/{{category.slug}}">{{category}}</a></h2>
       <div class="bigspacer"></div>
       <div>
       {% for article in articles[:5] %}
         <div>
           {% include 'includes/iconfeed.html' %}
          <a  href="{{ article.url }}">{{ article.title }}</a>
           {% if category == 'results' %} ({{article.date.year}}) <i>{{ article.journal }}</i> {% endif %}
         </div>

         {% if category == 'notes' %}
         <div >
           in {% for tag in article.tags %}
           <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
           {% if not loop.last %}
           /
           {% endif %}
           {% endfor %}
           on {{article.locale_date}}
         </div>
         {% endif %}

         <div class="spacer"></div>
         {% endfor %}
    </div>
       {% endif %}
 </div>
  {% endfor %}

</div>
   {% include 'includes/etc-footer.html' %}
{% endblock content %}
