<div class="row">
  <div class='col-sm-12 col-sm-offset-4'>
    <h1>etc</h1>

    <ul class='list-inline'>
      {% for p in PAGES %}
      {% if 'etc' in p.url %} <!-- exclude etc pages -->
      <li class="list-group-item"><a href="{{ SITEURL }}/{{ p.url }}">
          <i class='fa fa-ellipsis-v'></i> {{ p.menulabel|default(p.title) }}
      </a></li>
      {% endif %}
      {% endfor %}
    </ul>
    <ul class='list-inline'>
	    {% include 'includes/social_list.html' %}
    </ul>
  </div>
</div>
