/* style */
* {
	margin:0;
	padding:0;
}
abbr[title], acronym[title] {
	border-bottom:thin dotted;
	cursor:help;
}
body {
	background-color: #fff;
	color:#3a3a3a;
	font-size:12px;
}
hr.thin {
	height: 0px;
	border: 0;
	color: #dcdcdc;
	background-color: #dcdcdc;
}
h1, h2, h3, h4, h5, h6 {
	color: #dcdcdc;
	display:block;
	padding:0 0 0 0;
}
h1 {font-size:200%;}
h2 {font-size:170%;}
h3 {font-size:150%;}
h4 {font-size:130%;}
h5 {font-size:110%;}
h6 {font-size:100%;}
img {
	border:0;
}
img.sided {
	background:#FFF;
	border:1px solid #CCC;
	padding:3px;
}
small {
	font-size:10px;
}
a:hover img.sided {
	border-color:#A6A6A6;
}
a {
	color:#aa0000;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
blockquote, pre {
	background:#F4F5F7 url(http://chris-tran.com/images/reverb/blockquote.gif) 3px 3px no-repeat;
	border:1px dashed #dcdcdc;
	padding:8px 12px 8px 36px;
	margin:5px 0;
}
.more-link {
	font-size:11px;
}
.alignleft {
	float:left;
	text-align:left;
	margin-right:10px;
}
.alignright {
	float:right;
	text-align:right;
	margin-left:10px;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;

}
.floatleft {
	float:left;
}
.floatright {
	float:right;
}
.left {
	float:left;
	margin-right:10px;
}
.right {
	float:right;
	margin-left:10px;
}
.fixed, .clear {
	clear:both;
}
/* static END */

/* content START */
#content {
	min-height:400px;
}
/* content END */

/* main START */
#main {
	background:#FFF;
	width:605px;
	padding:7px 15px 10px;
	float:left;
	font-family:Verdana,"BitStream vera Sans";
}
#main ul {
	margin-left: 10px;
}
#main ol {
	margin-left: 10px;
}
#main li {
	margin-left: 10px;
}

/* main END */

/* sidebar START */
#sidebar {
	color: #9f9f9f;
	background:#FFF;
	width:285px;
	padding-right: 15px;
	float:right;
	font-family:Verdana,"BitStream vera Sans";
}
#sidebar li {
	background:url(img/icons.gif) 0 -320px no-repeat;
	padding-left:22px;
	list-style:none;
}
#sidebar .content {
	font-size:12px;
}
/* sidebar END */

/* footer START */
#footer {
	background-color: white;
	display:block;
	height:20px;
	border-top:1px solid #CCC;
	font-size:11px;
	line-height:145%;
	width:100%;
	text-align: right;
}
#footer_strip {
	height: 9px;
	width:100%;
	position: relative;
	bottom: 0px;
	background-color: #000;
}
#footer a {
	color:#2A2A2A;
}
/* footer END */

/* Reverbnation Events */
.events-table
{
	border: 0px solid #fff;
	font-size: 0.8em;
}
.date
{
	border: 0px solid #fff;
	border-bottom: 1px solid #eeeeee;
	font-size: 0.8em;
}
.time
{
	border: 0px solid #fff;
	border-bottom: 1px solid #eeeeee;
	font-size: 0.8em;
}
.event
{
	border: 0px solid #fff;
	border-bottom: 1px solid #eeeeee;
	font-size: 0.8em;
}
.location
{
	border: 0px solid #fff;
	border-bottom: 1px solid #eeeeee;
	font-size: 0.8em;
}
.info
{
	border: 0px solid #fff;
	border-bottom: 1px solid #eeeeee;
	font-size: 0.8em;
}
.more_info
{
	border: 0px solid #fff;
	border-bottom: 1px solid #eeeeee;
	font-size: 0.8em;
}